.navigation-bar{
  display: flex;
  margin-bottom:5rem;
  width: 100vw;
  justify-content: space-between;
}

/////////Header+Header-brand

  .navigation-bar__header{

    display:flex;


  .navigation-bar__header-brand{
    display: flex;
    align-items: center;
    color: rgba(255, 166, 1, 0.623);
    text-transform:uppercase;
    font-size: 2rem;
    font-weight:800;
    padding: 1.5rem 3rem;
  }
}



/////////Header-Items



  .navigation-bar__items{
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: -10px;



  .navigation-bar__items-links{
    display: flex;
    font-size: 2rem;
    list-style: none;
    justify-content: center;


    &-a{
      margin: 2rem;

    }

  }
}

/////////Header-Manage

  .navigation-bar__manage{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;



    .navigation-bar__manage-dropdown{
      display: flex;
      font-size: 2rem;
      list-style: none;
      align-items: center;




    }
    .navigation-bar__manage-dropdown-toggle{
      font-size: 2rem;

    }
    .navigation-bar__manage-dropdown-menu{
      list-style: none;
  }
}

