<nav class="navigation-bar">
  <div class="navigation-bar__header">
    <a href='#' class="navigation-bar__header-brand">My-Recipe-Book</a>
  </div>

  <div class="navigation-bar__items">
    <ul class="navigation-bar__items-links">
      <li class="navigation-bar__items-links-a">
        <a href="#">Recipes </a>
      </li>
      <li class="navigation-bar__items-links-a">
        <a href="#"> Shopping List</a>
      </li>
    </ul>
  </div>

    <div class="navigation-bar__manage">
      <ul>
        <li class="navigation-bar__manage-dropdown">
          <a href="#" class="navigation-bar__manage-dropdown-toggle">Manage <span>></span></a>
          <ul class="navigation-bar__manage-dropdown-menu">
            <li class="dropdown">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
