.navigation-bar{
  display: flex;
  width: 100vw;
  height:8rem;
  margin-bottom: 5rem;
  background-color: rgba(247, 50, 83, 0.747);
  border: 1px solid  rgba(247, 50, 83) ;
}

/////////Header+Header-brand

  .navigation-bar__header{

    display:flex;


  .navigation-bar__header-brand{
    display: flex;
    align-items: center;
    color: rgba(80, 72, 72);
    text-transform:uppercase;
    font-size: 2rem;
    font-weight:800;
    padding: 1.5rem 3rem;
  }
}



/////////Header-Items



  .navigation-bar__items{
    display: flex;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: -10px;





  .navigation-bar__items-links{
    display: flex;
    font-size: 2rem;
    list-style: none;



    &-a a{
      margin: 2rem;
      color: black;

    }

  }
}

/////////Header-Manage

  .navigation-bar__manage{
    display: flex;
    flex:1;
    justify-content: flex-end;
    padding: 1rem 2rem;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: -10px;




    .navigation-bar__manage-dropdown {
      display: flex;
      font-size: 2rem;
      list-style: none;
      align-items: center;

      a{
        color: black;
      }

    }
    .navigation-bar__manage-dropdown-toggle {
      font-size: 2rem;

    }

}

