<nav class="navigation-bar">
  <div class="navigation-bar__header">
    <a href='#' class="navigation-bar__header-brand">My-Recipe-Book</a>
  </div>


  <div class="navigation-bar__items">
    <ul class="navigation-bar__items-links">
      <li class="navigation-bar__items-links-a">
        <a (click)="onClickHref('recipe')" href="http://localhost:4200/app-recipes">Recipes </a>
      </li>
      <li class="navigation-bar__items-links-a">
        <a (click)="onClickHref('shopping-list')" href="http://localhost:4200/app-shopping-list"> Shopping List</a>
      </li>
    </ul>
  </div>

    <div class="navigation-bar__manage">
      <ul>
        <li class="navigation-bar__manage-dropdown">
          <a href="#" class="navigation-bar__manage-dropdown-toggle">Manage</a>
        </li>
      </ul>
  </div>
</nav>

